* { 
  margin: 0; padding: 0;
  box-sizing: border-box;
}

body { 
  font: Arial, Sans-Serif;
}

/* background */
body {
    background:hsla(207, 5%, 5%, 1);
    overflow: hidden;
    width:100%;
    
}

#grid {
    margin: .5em;
    position: relative;
    width:100%;
}
.block {
    width: 30px;
    height: 20px;
    background: hsla(0, 0%, 6.7% , .7);
    border-radius: 2px;
    position: absolute;
    top: -10px;
    -webkit-animation: go 750ms ease infinite alternate;
            animation: go 750ms ease infinite alternate;
}
@-webkit-keyframes go {
    0% {
        -webkit-transform: scale(1, 1) translate(0, 0);
                transform: scale(1, 1) translate(0, 0);
    }
    100% {
        -webkit-transform: scale(1.5, 1.5) translate(0, 0);
                transform: scale(1.5, 1.5) translate(0, 0);
    }
}
@keyframes go {
    0% {
        -webkit-transform: scale(1, 1) translate(0, 0);
                transform: scale(1, 1) translate(0, 0);
    }
    100% {
        -webkit-transform: scale(1.5, 1.5) translate(0, 0);
                transform: scale(1.5, 1.5) translate(0, 0);
    }
}
/* end background*/

/*start page*/
#page{
  position: relative;
  z-index: 5;
  margin: -.5em;
}
/*end page*/

/*start header*/
header {
  width: 100%;
  height: 60px;
  background: #FAFAFA;
  box-shadow: 0px 3px 15px #212121;
  padding: 12px 0 0 20px;
}
  h1 {
    font-family: Arial, Sans-Serif;
  }
/*end header*/

/*Start home styles*/
#wrapper-home{
  width: 100%;
  padding: 15px;
  background: rgba(0,0,0,.5);
}
#content {
  background-color: #EEEEEE;
  padding: 7px;
  border-radius: 3px;
  text-align: center;
  min-height: 400px;
}
h3 {
  font-family: Arial, Sans-Serif;
  font-size: 1.6em;
  margin-bottom: 30px;
}
a {
  font-family: Arial, Sans-Serif;
  text-decoration: none;
  font-size: 1.3em;
  background: #9E9E9E;
  padding: 8px;
  border-radius: 9px;
  display: inline-block;
  margin: 3px;
}
  a:hover{
    color: initial;
    background-color: #BDBDBD;
  }
  a:visited {
    color: initial;
  }
  #slogin {
    color:  #1ED760;
  }

#creator {
  font-family: Arial, Sans-Serif;
  font-size: .8em;
  position: absolute;
  bottom: 20px;
}

/*end home styles*/

/*Start song list styles*/
#wrapper{
  width: 100%;
  padding: 15px;;
}
#songs {
  width: 100%;
  margin: 0 auto;
  z-index: 3;
  padding: 15px;
  background: rgba(0,0,0,.5);
}
  h2 {
    font-family: Arial, Sans-Serif;
    text-align: center;
  }
/*end song list styles*/

/*Start search styles*/
#search {
  text-align: center;
  width: 100%;
  height: 30px;
}

#searchField {
  font-size: 1.4em;
  background-color: white;
  border: 1px solid #E0E0E0;
  border-radius: 3px;
  padding: 5px;
  width: 70%;
  float: left;
}

#searchButton {
  background-color: #FAFAFA;
  border: 1px solid #E0E0E0;
  border-radius: 3px;
  padding: 5px;
  font-size: 1.4em;
  width: 25%;
  float: right;
  overflow: hidden;
}


/*end search styles*/

/*Start list styles*/

#container {
  width: 100%;
  margin: 0 auto;
  z-index: 5;
  background: rgba(0,0,0,.5);
  padding: 15px;
  min-height: 100px;
}
#form-response {
  z-index: 5;
}
  #sr {
    float: left;
    color: #FAFAFA;
  }
  #exit{
  float: right;
  height: 30px;
  padding: 5px;
  background-color: #FAFAFA;
  border: 1px solid #E0E0E0;
  border-radius: 3px;
  font-size: 1.2em;
  }

.elem-inline {
  display: inline;
}

.song-listing {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  background-color: #EEEEEE;
  height: 80px;
  padding: 7px;
  border-radius: 3px;
}
  #songs-title{
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  background-color: #F5F5F5;
  padding: 7px;
  border-radius: 3px;
  }
    h4 {
      font-family: Arial, Sans-Serif;
      text-align: center;
      color: #F5F5F5;
      font-size: 1.2em;
    }

ul {
  float: left;
  margin: 7px 0 0 0;
  padding-left: 15px;
}
  .song-info {
    width: 60%;
  }
  .voteUl {
    float: right;
    margin-top: 0;
    width: 10%;
    text-align: center;
    padding: 0 2px 0 10px;
  }
    .vote {
      font-family: Arial, Sans-Serif;
      font-size: 1.3em;
      padding: 3px;
      background-color: #FAFAFA;
      border: 1px solid #E0E0E0;
      border-radius: 3px;
    }
      .vote:hover {
        background-color: #F5F5F5;
      }
        .voted {
          background-color: #616161;
        }

    h5{
      float: right;
      font-family: Arial, Sans-Serif;
      font-size: 2em;
      margin-top: 15px;
      width: 5%;
      text-align: center;
    }

li {
  list-style-type: none;
  font-family: Arial;
  line-height: 1.5em;
}

.track {
  font-size: 1.1em;
  overflow: hidden;
  height: 26px;
}

.artist {
  font-size: 1em;
}

img {
  float: left;
}

.hidden-uri {
  display: none;
}

.add {
  float: right;
  height: 50px;
  margin-top: 7px;
  padding: 3px;
  background-color: #FAFAFA;
  border: 1px solid #E0E0E0;
  border-radius: 3px;
}

.add:hover {
  background-color: #F5F5F5;
}